.left
  .photos
    - @place.photos.each do |photo|
      .photo
        = image_tag photo.image_url(:full)

  -# image_tag @place.photos.first.image_url(:full)

  .close#close-place-window
    
  .info
    .name
      = @place.name
      %span.address
        = @place.address
.right
  #order-ready.hide

    .social


    #order-checker
      .checking
        Идет проверка...

      .checked

        .message
          Все хорошо, ваш заказ в силе.

        .warning
          Ни в коем случае не удаляйте сообщение с вашей стены в течение ближайших двух часов,
          иначе скидка будет анулирована.

      .check-error
        Произошла ошибка. Свяжитесь с нашей командой поддержки.



    -#Спасибо за использование нашего сервиса!
    -#В ближайшее время с вами свяжется менеджер ресторана.


  #pre-order

    - if user_logged_in?

      - if current_user.phone_state_confirmed?

        .button
          Забронировать
        .info
          Забронируйте стол и получите скидку до 55% совершенно бесплатно

      - elsif current_user.phone_state_fresh?
        Уважаемый
        %strong
          = "#{current_user.get_name}!"

        Для доступа к этому функионалу, вы должны
        %a.phone-confirm-link.from-place-modal{href: '#'}
          подтвердить
        указанный вами номер телефона


    - else
      %a.login-link.from-place-modal{href: '#'}
        Авторизуйтесь
      , чтобы получить доступ к функционалу бронирования

  
  #order-form.hide
    .section
      1. Количество персон:

    #persons-number-picker.number-picker

    #order-form-datepicker

      

    #order-form-submit.hide
      Оформить заказ



%script#day-template{type: "text/template"}
  .wday
    <%= wday %>
  .date
    <%= date %>

%script#hour-template{type: "text/template"}
  <%= hour %>
  %br
  <%= sale %>%

%script#order-date-picker-template{type: "text/template"}
  .header.hide
  %hr
  .section
    2. Доступные даты:
  .days
  %hr
  .section
    3. Доступное время и скидки:
  .hours

%script#order-persons-picker-template{type: "text/template"}
  .decrease
    = image_tag '/images/left.png'
  .value
  .increase
    = image_tag '/images/right.png'

%script#social-repost-widget{type: "text/template"}
  Ваш заказ готов. Для активации расскажите о нем в социальной сети

  .buttons

    %a.social-share{href: "<%= url %>".html_safe}
      Рассказать